<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= title %></title>
    <meta name="description" content="<%= description %>">

    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">

    <meta property="og:site_name" content="Notes" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description " content="<%= description %>" />
    <meta property="og:type" content="website" />
</head>
<body id="notes">
    <div class="container">
        <header class="mt-5">
            <h1><a href="/">Notes</a></h1>
        </header>